:root{
    --primary-color: #D8D4E2;
    --secondary-color:#2D3047;
    --accent1-color: #419D78;
    --accent2-color: #E0A458;  
}
heading{
    background-color: #419D78;
    font-weight: 400;
}
body{
    font-family: "Roboto",sans-serif;
    color: #419D78;
    margin: auto;
}
header{
    background-color: var(--accent1-color);
    font-weight: 400;
}
h1, h2, h3{
    font-family: "Roboto", sans-serif;
    position: relative;
}
.social-media-links a{
    text-decoration: none;
    color: var(--accent1-color);
    transition: none;
}
.social-media-links a:hover{
    color: var(--accent2-color);
}
.hero{
    position: relative;
}
.hero img {
    display: block;
    height: auto;
    width: 100px;
}
.hero article{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D8D4E2;
    padding: 20px;
}
.hero article p{
    margin-bottom: 20px;
}
img {
    display: block;
    height: auto;
    width: 100px;
}
p{
    background-color: #419D78;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #E0A458;
}
nav a:hover {
    color:#419D78;
}
